{"openapi":"3.0.3","info":{"title":"Neurelo API Spec","version":"0"},"servers":[{"url":"https://us-east-2.aws.neurelo.app"}],"paths":{"/rest/actor":{"get":{"tags":["Actor"],"description":"Retrieve multiple actor records","operationId":"findActor","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActorSelectInput"}}}},{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/actorWhereInput"}}}},{"name":"order_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/actorOrderByWithRelationInput"}}}}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":1.0}},{"name":"take","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/actor"}}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"post":{"tags":["Actor"],"description":"Create multiple actor records","operationId":"createManyActor","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/actorCreateManyInput"},"minItems":1}}},"required":true},"responses":{"201":{"description":"Records created","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AffectedRowsOutput"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"delete":{"tags":["Actor"],"description":"Delete multiple actor records","operationId":"deleteActor","parameters":[{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/actorWhereInput"}}}}],"responses":{"200":{"description":"Records deleted","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AffectedRowsOutput"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"patch":{"tags":["Actor"],"description":"Update multiple actor records","operationId":"updateActor","parameters":[{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/actorWhereInput"}}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/actorUpdateManyInput"}}},"required":true},"responses":{"200":{"description":"Records updated","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AffectedRowsOutput"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/actor/__aggregate":{"get":{"tags":["Actor"],"description":"Aggregate by actor","operationId":"aggregateByActor","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActorAggregateInput"}}}},{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/actorWhereInput"}}}},{"name":"order_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/actorOrderByWithRelationInput"}}}}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":1.0}},{"name":"take","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AggregateActor"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/actor/__groupBy":{"get":{"tags":["Actor"],"description":"Group by actor","operationId":"groupByActor","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActorGroupByInput"}}}},{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/actorWhereInput"}}}},{"name":"order_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/actorOrderByWithAggregationInput"}}}}},{"name":"group_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActorScalarFieldEnum"}}}}},{"name":"having","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/actorScalarWhereWithAggregatesInput"}}}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":1.0}},{"name":"take","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ActorGroupByOutputType"}}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/actor/__one":{"post":{"tags":["Actor"],"description":"Create one actor record","operationId":"createOneActor","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActorSelectInput"}}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/actorCreateInput"}}},"required":true},"responses":{"201":{"description":"Record created","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/actor"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/actor/{id}":{"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"get":{"tags":["Actor"],"description":"Find one actor record by id","operationId":"findActorById","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActorSelectInput"}}}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/actor"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"delete":{"tags":["Actor"],"description":"Delete one actor record by id","operationId":"deleteActorById","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActorSelectInput"}}}}],"responses":{"200":{"description":"Record deleted","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/actor"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"patch":{"tags":["Actor"],"description":"Update one actor record by id","operationId":"updateActorById","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ActorSelectInput"}}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/actorUpdateInput"}}},"required":true},"responses":{"200":{"description":"Record updated","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/actor"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/address":{"get":{"tags":["Address"],"description":"Retrieve multiple address records","operationId":"findAddress","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressSelectInput"}}}},{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/addressWhereInput"}}}},{"name":"order_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/addressOrderByWithRelationInput"}}}}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":1.0}},{"name":"take","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/address"}}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"post":{"tags":["Address"],"description":"Create multiple address records","operationId":"createManyAddress","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/addressCreateManyInput"},"minItems":1}}},"required":true},"responses":{"201":{"description":"Records created","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AffectedRowsOutput"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"delete":{"tags":["Address"],"description":"Delete multiple address records","operationId":"deleteAddress","parameters":[{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/addressWhereInput"}}}}],"responses":{"200":{"description":"Records deleted","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AffectedRowsOutput"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"patch":{"tags":["Address"],"description":"Update multiple address records","operationId":"updateAddress","parameters":[{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/addressWhereInput"}}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/addressUpdateManyInput"}}},"required":true},"responses":{"200":{"description":"Records updated","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AffectedRowsOutput"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/address/__aggregate":{"get":{"tags":["Address"],"description":"Aggregate by address","operationId":"aggregateByAddress","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressAggregateInput"}}}},{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/addressWhereInput"}}}},{"name":"order_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/addressOrderByWithRelationInput"}}}}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":1.0}},{"name":"take","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AggregateAddress"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/address/__groupBy":{"get":{"tags":["Address"],"description":"Group by address","operationId":"groupByAddress","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressGroupByInput"}}}},{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/addressWhereInput"}}}},{"name":"order_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/addressOrderByWithAggregationInput"}}}}},{"name":"group_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AddressScalarFieldEnum"}}}}},{"name":"having","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/addressScalarWhereWithAggregatesInput"}}}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":1.0}},{"name":"take","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/AddressGroupByOutputType"}}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/address/__one":{"post":{"tags":["Address"],"description":"Create one address record","operationId":"createOneAddress","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressSelectInput"}}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/addressCreateInput"}}},"required":true},"responses":{"201":{"description":"Record created","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/address"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/address/{id}":{"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"get":{"tags":["Address"],"description":"Find one address record by id","operationId":"findAddressById","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressSelectInput"}}}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/address"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"delete":{"tags":["Address"],"description":"Delete one address record by id","operationId":"deleteAddressById","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressSelectInput"}}}}],"responses":{"200":{"description":"Record deleted","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/address"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"patch":{"tags":["Address"],"description":"Update one address record by id","operationId":"updateAddressById","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressSelectInput"}}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/addressUpdateInput"}}},"required":true},"responses":{"200":{"description":"Record updated","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/address"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/category":{"get":{"tags":["Category"],"description":"Retrieve multiple category records","operationId":"findCategory","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategorySelectInput"}}}},{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/categoryWhereInput"}}}},{"name":"order_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/categoryOrderByWithRelationInput"}}}}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":1.0}},{"name":"take","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/category"}}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"post":{"tags":["Category"],"description":"Create multiple category records","operationId":"createManyCategory","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/categoryCreateManyInput"},"minItems":1}}},"required":true},"responses":{"201":{"description":"Records created","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AffectedRowsOutput"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"delete":{"tags":["Category"],"description":"Delete multiple category records","operationId":"deleteCategory","parameters":[{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/categoryWhereInput"}}}}],"responses":{"200":{"description":"Records deleted","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AffectedRowsOutput"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"patch":{"tags":["Category"],"description":"Update multiple category records","operationId":"updateCategory","parameters":[{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/categoryWhereInput"}}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/categoryUpdateManyInput"}}},"required":true},"responses":{"200":{"description":"Records updated","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AffectedRowsOutput"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/category/__aggregate":{"get":{"tags":["Category"],"description":"Aggregate by category","operationId":"aggregateByCategory","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryAggregateInput"}}}},{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/categoryWhereInput"}}}},{"name":"order_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/categoryOrderByWithRelationInput"}}}}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":1.0}},{"name":"take","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AggregateCategory"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/category/__groupBy":{"get":{"tags":["Category"],"description":"Group by category","operationId":"groupByCategory","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryGroupByInput"}}}},{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/categoryWhereInput"}}}},{"name":"order_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/categoryOrderByWithAggregationInput"}}}}},{"name":"group_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CategoryScalarFieldEnum"}}}}},{"name":"having","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/categoryScalarWhereWithAggregatesInput"}}}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":1.0}},{"name":"take","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CategoryGroupByOutputType"}}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/category/__one":{"post":{"tags":["Category"],"description":"Create one category record","operationId":"createOneCategory","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategorySelectInput"}}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/categoryCreateInput"}}},"required":true},"responses":{"201":{"description":"Record created","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/category"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/category/{id}":{"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"get":{"tags":["Category"],"description":"Find one category record by id","operationId":"findCategoryById","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategorySelectInput"}}}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/category"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"delete":{"tags":["Category"],"description":"Delete one category record by id","operationId":"deleteCategoryById","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategorySelectInput"}}}}],"responses":{"200":{"description":"Record deleted","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/category"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"patch":{"tags":["Category"],"description":"Update one category record by id","operationId":"updateCategoryById","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategorySelectInput"}}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/categoryUpdateInput"}}},"required":true},"responses":{"200":{"description":"Record updated","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/category"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/city":{"get":{"tags":["City"],"description":"Retrieve multiple city records","operationId":"findCity","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CitySelectInput"}}}},{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityWhereInput"}}}},{"name":"order_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/cityOrderByWithRelationInput"}}}}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":1.0}},{"name":"take","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/city"}}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"post":{"tags":["City"],"description":"Create multiple city records","operationId":"createManyCity","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/cityCreateManyInput"},"minItems":1}}},"required":true},"responses":{"201":{"description":"Records created","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AffectedRowsOutput"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"delete":{"tags":["City"],"description":"Delete multiple city records","operationId":"deleteCity","parameters":[{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityWhereInput"}}}}],"responses":{"200":{"description":"Records deleted","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AffectedRowsOutput"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"patch":{"tags":["City"],"description":"Update multiple city records","operationId":"updateCity","parameters":[{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityWhereInput"}}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityUpdateManyInput"}}},"required":true},"responses":{"200":{"description":"Records updated","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AffectedRowsOutput"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/city/__aggregate":{"get":{"tags":["City"],"description":"Aggregate by city","operationId":"aggregateByCity","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CityAggregateInput"}}}},{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityWhereInput"}}}},{"name":"order_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/cityOrderByWithRelationInput"}}}}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":1.0}},{"name":"take","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AggregateCity"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/city/__groupBy":{"get":{"tags":["City"],"description":"Group by city","operationId":"groupByCity","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CityGroupByInput"}}}},{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityWhereInput"}}}},{"name":"order_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/cityOrderByWithAggregationInput"}}}}},{"name":"group_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CityScalarFieldEnum"}}}}},{"name":"having","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityScalarWhereWithAggregatesInput"}}}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":1.0}},{"name":"take","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CityGroupByOutputType"}}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/city/__one":{"post":{"tags":["City"],"description":"Create one city record","operationId":"createOneCity","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CitySelectInput"}}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityCreateInput"}}},"required":true},"responses":{"201":{"description":"Record created","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/city"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/city/{id}":{"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"get":{"tags":["City"],"description":"Find one city record by id","operationId":"findCityById","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CitySelectInput"}}}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/city"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"delete":{"tags":["City"],"description":"Delete one city record by id","operationId":"deleteCityById","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CitySelectInput"}}}}],"responses":{"200":{"description":"Record deleted","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/city"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"patch":{"tags":["City"],"description":"Update one city record by id","operationId":"updateCityById","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CitySelectInput"}}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/cityUpdateInput"}}},"required":true},"responses":{"200":{"description":"Record updated","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/city"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/country":{"get":{"tags":["Country"],"description":"Retrieve multiple country records","operationId":"findCountry","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountrySelectInput"}}}},{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/countryWhereInput"}}}},{"name":"order_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/countryOrderByWithRelationInput"}}}}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":1.0}},{"name":"take","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/country"}}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"post":{"tags":["Country"],"description":"Create multiple country records","operationId":"createManyCountry","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/countryCreateManyInput"},"minItems":1}}},"required":true},"responses":{"201":{"description":"Records created","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AffectedRowsOutput"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"delete":{"tags":["Country"],"description":"Delete multiple country records","operationId":"deleteCountry","parameters":[{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/countryWhereInput"}}}}],"responses":{"200":{"description":"Records deleted","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AffectedRowsOutput"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"patch":{"tags":["Country"],"description":"Update multiple country records","operationId":"updateCountry","parameters":[{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/countryWhereInput"}}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/countryUpdateManyInput"}}},"required":true},"responses":{"200":{"description":"Records updated","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AffectedRowsOutput"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/country/__aggregate":{"get":{"tags":["Country"],"description":"Aggregate by country","operationId":"aggregateByCountry","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountryAggregateInput"}}}},{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/countryWhereInput"}}}},{"name":"order_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/countryOrderByWithRelationInput"}}}}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":1.0}},{"name":"take","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AggregateCountry"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/country/__groupBy":{"get":{"tags":["Country"],"description":"Group by country","operationId":"groupByCountry","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountryGroupByInput"}}}},{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/countryWhereInput"}}}},{"name":"order_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/countryOrderByWithAggregationInput"}}}}},{"name":"group_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CountryScalarFieldEnum"}}}}},{"name":"having","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/countryScalarWhereWithAggregatesInput"}}}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":1.0}},{"name":"take","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CountryGroupByOutputType"}}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/country/__one":{"post":{"tags":["Country"],"description":"Create one country record","operationId":"createOneCountry","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountrySelectInput"}}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/countryCreateInput"}}},"required":true},"responses":{"201":{"description":"Record created","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/country"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/country/{id}":{"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"get":{"tags":["Country"],"description":"Find one country record by id","operationId":"findCountryById","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountrySelectInput"}}}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/country"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"delete":{"tags":["Country"],"description":"Delete one country record by id","operationId":"deleteCountryById","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountrySelectInput"}}}}],"responses":{"200":{"description":"Record deleted","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/country"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"patch":{"tags":["Country"],"description":"Update one country record by id","operationId":"updateCountryById","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CountrySelectInput"}}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/countryUpdateInput"}}},"required":true},"responses":{"200":{"description":"Record updated","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/country"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/customer":{"get":{"tags":["Customer"],"description":"Retrieve multiple customer records","operationId":"findCustomer","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerSelectInput"}}}},{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/customerWhereInput"}}}},{"name":"order_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/customerOrderByWithRelationInput"}}}}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":1.0}},{"name":"take","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/customer"}}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"post":{"tags":["Customer"],"description":"Create multiple customer records","operationId":"createManyCustomer","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/customerCreateManyInput"},"minItems":1}}},"required":true},"responses":{"201":{"description":"Records created","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AffectedRowsOutput"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"delete":{"tags":["Customer"],"description":"Delete multiple customer records","operationId":"deleteCustomer","parameters":[{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/customerWhereInput"}}}}],"responses":{"200":{"description":"Records deleted","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AffectedRowsOutput"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"patch":{"tags":["Customer"],"description":"Update multiple customer records","operationId":"updateCustomer","parameters":[{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/customerWhereInput"}}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/customerUpdateManyInput"}}},"required":true},"responses":{"200":{"description":"Records updated","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AffectedRowsOutput"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/customer/__aggregate":{"get":{"tags":["Customer"],"description":"Aggregate by customer","operationId":"aggregateByCustomer","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAggregateInput"}}}},{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/customerWhereInput"}}}},{"name":"order_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/customerOrderByWithRelationInput"}}}}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":1.0}},{"name":"take","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AggregateCustomer"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/customer/__groupBy":{"get":{"tags":["Customer"],"description":"Group by customer","operationId":"groupByCustomer","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerGroupByInput"}}}},{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/customerWhereInput"}}}},{"name":"order_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/customerOrderByWithAggregationInput"}}}}},{"name":"group_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustomerScalarFieldEnum"}}}}},{"name":"having","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/customerScalarWhereWithAggregatesInput"}}}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":1.0}},{"name":"take","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CustomerGroupByOutputType"}}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/customer/__one":{"post":{"tags":["Customer"],"description":"Create one customer record","operationId":"createOneCustomer","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerSelectInput"}}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/customerCreateInput"}}},"required":true},"responses":{"201":{"description":"Record created","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/customer"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/customer/{id}":{"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"get":{"tags":["Customer"],"description":"Find one customer record by id","operationId":"findCustomerById","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerSelectInput"}}}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/customer"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"delete":{"tags":["Customer"],"description":"Delete one customer record by id","operationId":"deleteCustomerById","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerSelectInput"}}}}],"responses":{"200":{"description":"Record deleted","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/customer"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"patch":{"tags":["Customer"],"description":"Update one customer record by id","operationId":"updateCustomerById","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerSelectInput"}}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/customerUpdateInput"}}},"required":true},"responses":{"200":{"description":"Record updated","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/customer"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/film":{"get":{"tags":["Film"],"description":"Retrieve multiple film records","operationId":"findFilm","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilmSelectInput"}}}},{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filmWhereInput"}}}},{"name":"order_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/filmOrderByWithRelationInput"}}}}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":1.0}},{"name":"take","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/film"}}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"post":{"tags":["Film"],"description":"Create multiple film records","operationId":"createManyFilm","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/filmCreateManyInput"},"minItems":1}}},"required":true},"responses":{"201":{"description":"Records created","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AffectedRowsOutput"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"delete":{"tags":["Film"],"description":"Delete multiple film records","operationId":"deleteFilm","parameters":[{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filmWhereInput"}}}}],"responses":{"200":{"description":"Records deleted","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AffectedRowsOutput"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"patch":{"tags":["Film"],"description":"Update multiple film records","operationId":"updateFilm","parameters":[{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filmWhereInput"}}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filmUpdateManyInput"}}},"required":true},"responses":{"200":{"description":"Records updated","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AffectedRowsOutput"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/film/__aggregate":{"get":{"tags":["Film"],"description":"Aggregate by film","operationId":"aggregateByFilm","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilmAggregateInput"}}}},{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filmWhereInput"}}}},{"name":"order_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/filmOrderByWithRelationInput"}}}}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":1.0}},{"name":"take","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/AggregateFilm"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/film/__groupBy":{"get":{"tags":["Film"],"description":"Group by film","operationId":"groupByFilm","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilmGroupByInput"}}}},{"name":"filter","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filmWhereInput"}}}},{"name":"order_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/filmOrderByWithAggregationInput"}}}}},{"name":"group_by","in":"query","required":false,"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FilmScalarFieldEnum"}}}}},{"name":"having","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filmScalarWhereWithAggregatesInput"}}}},{"name":"skip","in":"query","required":false,"schema":{"type":"integer","minimum":1.0}},{"name":"take","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/FilmGroupByOutputType"}}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/film/__one":{"post":{"tags":["Film"],"description":"Create one film record","operationId":"createOneFilm","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilmSelectInput"}}}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/filmCreateInput"}}},"required":true},"responses":{"201":{"description":"Record created","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/film"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}}},"/rest/film/{id}":{"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"get":{"tags":["Film"],"description":"Find one film record by id","operationId":"findFilmById","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilmSelectInput"}}}}],"responses":{"200":{"description":"Results found","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/film"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/_ErrorResponse"}}}}}}}}},"delete":{"tags":["Film"],"description":"Delete one film record by id","operationId":"deleteFilmById","parameters":[{"name":"select","in":"query","required":false,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilmSelectInput"}}}}],"responses":{"200":{"description":"Record deleted","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"data":{"$ref":"#/components/schemas/film"}}}}}},"400":{"description":"Invalid Request","content":{"application/json":{"schema":{"type":"object","required":["errors"],"properties":{"errors":{"type":"array","items":{"$ref"
[...]
