<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go-Neurelo Htmx - By smit</title>

    <!-- Javascript Scripts -->
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Tailwind Config -->
    <script>
    tailwind.config = {
        theme: {
            extend: {
                colors: {}
            }
        }
    }
    </script>

    <!-- TailwindCss -->
    <style lang="css">
        html {
            background-color: #000;
        }
    </style>
    <style type="text/tailwindcss">
        @layer utilities {
            body {
                @apply w-full h-full min-h-screen bg-fixed bg-gradient-to-br from-zinc-800 via-zinc-950 to-zinc-900 text-zinc-100;
            }
        }
    </style>
</head>
<body>
    {{embed}}
</body>
</html>